body {
    background-image: url("http://www.animalstown.com/animals/b/bear/wallpapers/bear-wallpaper-5.jpg");
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.floating {
    float: none;
    width: 350px;
    background: rgba(234,234,234,0.6);
    border: 1px solid #aaa;
    border-bottom-color: #999;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px 25px 20px;
    margin:10px auto;
}

