<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href= "{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Some Recipe-Related Name</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" id="navbar_container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <img src="{{ url_for('static', filename='favicon66.png') }}" id ="logo">
            </div>
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Some Recipe-Related Name</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <div>
                <form role="form" action="/" method="POST">
                    <input type="text" id="lat" name="lat" hidden>
                    <input type="text" id="long" name="long" hidden>
                    <input type="text" class="form-control " id="recipe" name="input"
                     placeholder="What do you want to make?" value="{{ input }}">
                    <input type="submit" value="Submit" hidden>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="body">
        {% if address %}
        <div id="backgroundcolor"></div>
        {% endif %}
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-4">
                    <h3>{{ recipename }}</h3>
                    {% if ingred %}
                    Ingredients
                    {% endif %}
                    <form class="form-horizontal" role="form">
                        {% for item in ingred %}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            {{ item }}
                          </label>
                        </div>
                        {% endfor %}
                    </form>
                    {% if recipe %}
                    Recipe
                    {% endif %}
                    <p class="recipe">
                    {{ recipe }}
                    </p>
                </div>

                <div class="col-md-7 col-md-offset-1">
                    {% if address %}
                    <br>
                    <iframe allowtransparency="true" style="background: #E9E5DC;"
                     width="100%" height="70%" frameborder="0" style="border:0" id ="gmap"></iframe>
                    {% else %}
                    <div id="space"></div>
                    {% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row footerrow">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Made at Cal Hacks 2014. </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
    var x=document.getElementById("demo");
    {% if address %}
    var y=document.getElementById("gmap");
    {% else %}
    $(document).ready(function(){
        $('#space').height($(window).height()-98-88-21-50-1);
    });
    {% endif %}
    function getLocation()
      {
        console.log("got location");
      if (navigator.geolocation)
        {
        navigator.geolocation.watchPosition(setLocation);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      }
    function setLocation(position) 
      {
        {% if address %}
        y.src = "https://www.google.com/maps/embed/v1/directions?origin="+position.coords.latitude +"%2C"+position.coords.longitude+
               "&destination={{address}}&key=AIzaSyA7UZaE5lCotDi8pWfLRYEAwHKr1KtqSJ4";
        {% endif %}
        document.getElementById("lat").value=position.coords.latitude;
        document.getElementById("long").value=position.coords.longitude;
      }
      window.onload = function(){getLocation();};
      
    </script>

</body>

</html>
