<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href= "{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Some Recipe-Related Name</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    {% if address %}
    ::-webkit-scrollbar { 
        display: block;
        background-color: #f8f8f8;
    }
    body {
        overflow:visible;
    }
    {% else %}
    ::-webkit-scrollbar { 
        display: none; 
    }
    body {
        overflow:hidden;
    }
    {% endif %}
    </style>

</head>

<body>

    <!-- Navigation -->
    <div id="wrap">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container" id="navbar_container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div>
                    <img src="{{ url_for('static', filename='favicon66.png') }}" id ="logo">
                </div>
                <div class="navbar-header">
                <div class="navbar-brand" style="color: #333;">Some Recipe-Related Name</div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse desktop-only" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a data-toggle="modal" data-target="#Help">Help</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#About">About</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <form role="form" action="/" method="POST">
                        <input type="text" id="lat" name="lat" hidden>
                        <input type="text" id="long" name="long" hidden>
                        <input type="text" class="form-control " id="recipe" name="input"
                         placeholder="What do you want to make?" value="{{ input }}">
                        <input type="submit" value="Submit" hidden>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Header -->
        <div class="body">
            <div class="container">
                {% if address %}
                  <div id="backgroundcolor"></div>
                {% endif %}
                <div class="row-fluid">
                    <div class="col-md-4">
                        <h4>{{ recipename }}</h4>
                        {% if ingred %}
                        Ingredients
                        {% endif %}
                        <form class="form-horizontal" role="form">
                            {% for item in ingred %}
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                {{ item }}
                              </label>
                            </div>
                            {% endfor %}
                        </form>
                        {% if recipe %}
                        Recipe
                        {% endif %}
                        <p class="recipe">
                        {{ recipe }}
                        </p>
                    </div>

                    <div class="col-md-7 col-md-offset-1" id="mapgoeshere">
                        
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container desktop-only">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <p class="text-muted">Made at <a href="http://www.calhacks.io/">Cal Hacks 2014</a>.</p>
                  </li>
                </ul>
            </div>
        </div>
        <div class="container mobile-only">
            <span class="text-muted" style="float:left;">Made at <a href="http://www.calhacks.io/">Cal Hacks 2014</a>.</span>
            <span style="float:right;"> <a data-toggle="modal" data-target="#Help">Help</a>&emsp;<a data-toggle="modal" data-target="#About">About</a></span>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="Help" tabindex="-1" role="dialog" aria-labelledby="HelpLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="HelpLabel">Need help?</h4>
          </div>
          <div class="modal-body">
            <ol>
                <li>
                    Type in what recipe you want to make today and hit enter.
                </li>
                <li>
                    Check off which ingredients you have already.
                </li>
                <li>
                    We'll show you the closest grocery store to buy the remaining ingredients!
                </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="About" tabindex="-1" role="dialog" aria-labelledby="AboutLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="AboutLabel">About Us</h4>
          </div>
          <div class="modal-body">
            <p>This web app makes use of the BigOven, Supermarket, Google Maps, Google Places, and AWS APIs.</p>
            <p>Developed by Jackson Chang, Jinsu Choi, Kai Si, and Denise Szeto at Cal Hacks 2014.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
    var x=document.getElementById("demo");
    function getLocation()
      {
        console.log("got location");
      if (navigator.geolocation)
        {
        navigator.geolocation.watchPosition(setLocation);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
      }
    function setLocation(position) 
      {
        {% if address %}
        $map = $('#mapgoeshere');
        if ($map.children().length == 0) {
            $('<iframe width="100%" height="450px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin='+position.coords.latitude +"%2C"+position.coords.longitude+'&destination={{address}}&key=AIzaSyA7UZaE5lCotDi8pWfLRYEAwHKr1KtqSJ4">').appendTo($('#mapgoeshere'));
        }
        {% endif %}
        document.getElementById("lat").value=position.coords.latitude;
        document.getElementById("long").value=position.coords.longitude;
      }
      window.onload = function(){getLocation();};
      
    </script>

</body>

</html>
